[Unit]
Description=Seafile hub
Wants=network-online.target
After=seafile.service

[Service]
ExecStart={{ seafile }}/seafile-server-latest/seahub.sh start
ExecStop={{ seafile }}/seafile-server-latest/seahub.sh stop
User={{ seafile }}
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target